.dayCell {
  border: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  position: relative;
  min-height: 272px; /* 32px header + 240px hour grid */
  overflow: hidden;
}

.dayCell.monthBorderLeft {
  border-left-width: 4px;
  border-left-color: #333333;
  border-left-style: solid;
}

.dayCell.monthBorderTop {
  border-top-width: 4px;
  border-top-color: #333333;
  border-top-style: solid;
}

.dayCell.monthBorderBottom {
  border-bottom-width: 4px;
  border-bottom-color: #333333;
  border-bottom-style: solid;
}

.dayCell.today {
  background-color: #f0f7ff;
}

.dayCell.weekend {
  background-color: #fff8f5;
}

.dayCell.today.weekend {
  background-color: #f0f7ff;
}

/* Mobile optimizations */
@media (max-width: 768px) {
  .dayCell {
    min-height: 70px;
  }
}
